{% capture project_title_element %}{% if include.project_title_element %}{{ include.project_title_element }}{% else %}h2{% endif %}{% endcapture %}
<div class="mxn2 clearfix mb2 py3{% unless include.exclude_divider %} border-light-gray {% endunless %}">
  <div class="col sm-col-4 px2 mb2">
    <div class="iPhone">
    	<div class="iHead">
    		<div class="iTop">
    			<span class="iCon"></span>
    		</div>
    	</div>
    	<div class="iScreen">
        <!-- <a href="{{ include.project.url }}" target="_blank"> -->
          {% capture image_path %}projects/{{ include.project.image }}{% endcapture %}
          {% include image.html path=image_path alt=include.project.name %}
        <!-- </a> -->
    	</div>
    	<div class="iBot">
    		<span class="iGo"></span>
    	</div>
    </div>

  </div>
  <div class="col sm-col-8 px2">
    <a href="{{ include.project.url }}" target="_blank" name="{{ include.project.name | downcase | replace:' ','-' | remove:',' }}">
      <{{ project_title_element }} class="mt0 mb0">{{ include.project.name }}</{{ project_title_element }}>
    </a>
    <a href="{{ include.project.url }}" target="_blank" class="block h6 mb2">{{ include.project.url }}</a>
    <p class="left-align">{{ include.project.description }}</p>

    <h4 class="sub-heading"> {{ include.project.videos }}</h4>
    {% for external_url_hash in include.project.youtubeLinks %}
      {% assign external_url = external_url_hash[1] %}
      <a href="{{ external_url.url }}" target="_blank" class="white py2">
        {{ external_url.name }}
      </a>
      <br>
    {% endfor %}
    <br>
    <h4 class="sub-heading"> {{ include.project.paragraphTitle }}</h4>
    <p class="left-align">{{ include.project.paragraphText }}</p>

  </div>
</div>
